$basicBorder: 1px solid #555;

$pickerWidth: 60px;
$pickerButtonSize: 40px;
$menuHeight: 57px;
$optionsHeight: 31px;
$toolbarHeight: 100%;
$optionsHeight: 100px;
$optionsButtonSize: $optionsHeight - 3px;

$white: #fff;
$black: #000;
$bc_base: #4f80ff;
$canvasBackground: #fff;
// $toolbarBackground: rgb(230, 230, 230);
$toolbarBackground: #f9f9f9;
$selectedColor: #4f80ff;
$warmgray100: #f9f9f9;
$warmgray200: #f2f2f2;
$warmgray300: #e2e2e2;
$warmgray400: #d8d8d8;
$warmgray700: #555555;
$textColor: #2c313d;

@mixin fill-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin button-style-1 {
    border: 1px solid transparent;
    border-radius: 4px;

    & {
        text-decoration: none;
        cursor: pointer;
        background-color: white;
    }

    &:not(.disabled) {
        border-color: $warmgray300;
    }
    &.selected:not(.disabled) {
        border-color: $selectedColor;
    }
    &.disabled {
        cursor: default;
        opacity: 0.3;
    }

    @each $tool in pan, select-cut, pencil, line, rectangle, ellipse, text, fill, eraser, magnifier
    {
        &.#{$tool}-icon {
            &::before {
                content: url('/lib/literallycanvas-mobile/lib/img/#{$tool}-select.svg');
                width: 0;
                height: 0;
                display: none;
            }
            background-image: url('/lib/literallycanvas-mobile/lib/img/#{$tool}.svg');
            &.selected:not(.disabled) {
                background-image: url('/lib/literallycanvas-mobile/lib/img/#{$tool}-select.svg');
            }
        }
    }
}

.entryPlaygroundPainter {
    position: absolute;
    left: 253px;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: none;
    background-color: $warmgray100;
    // overflow: hidden;

    &.fullscreen {
        position: fixed;
        top: 43px;
        left: 0;
        z-index: 200;
        .entryPlaygroundPainterFullscreenButton {
            background-image: url(../img/btn-normal.svg);
        }
    }
}

.literally .button-style-1 {
    @include button-style-1;
}

.literally.toolbar-at-top {
    .lc-drawing {
        bottom: 0;
        top: $optionsHeight;
    }
    .lc-options {
        top: 0;
        border-bottom: $basicBorder;
    }
}

.literally.toolbar-at-bottom {
    // height: $toolbarHeight;
    // overflow: hidden;
    .lc-drawing {
        bottom: $optionsHeight;
        top: 0;
    }
    .lc-options {
        bottom: 0;
        // border-top: $basicBorder;
    }
}

.literally.toolbar-hidden {
    .lc-drawing {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    .lc-options,
    .lc-picker {
        display: none;
    }
}

.literally {
    position: absolute;
    background-color: $canvasBackground;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    user-select: none;

    &,
    & * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    & > * {
        position: absolute;
    }

    .lc-picker {
        width: $pickerWidth;
        bottom: 0px;
        position: absolute;
        top: $menuHeight;
        padding: 10px;
        padding-top: 20px;
        border: solid 1px $warmgray300;
        border-top: none;
        background-color: $toolbarBackground;
        overflow: hidden;
        overflow-y: auto;
        -ms-overflow-style: none; // IE 10+
        overflow: -moz-scrollbars-none; // Firefox
        &::-webkit-scrollbar {
            display: none; // Safari and Chrome
        }
    }

    .lc-drawing {
        background-color: $canvasBackground;
        right: 0;
        left: 0;
        bottom: 0;
        left: 0;

        & > * {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .lc-drawing.with-gui {
        right: 0;
        left: $pickerWidth;
        cursor: default;
        bottom: $optionsHeight;
        top: $menuHeight;
        background-image: url('../img/transparent-pattern.png');
        overflow: hidden;

        .polygon-toolbar {
            top: auto;
            height: $optionsHeight;

            .polygon-toolbar-button {
                float: left;
            }
        }

        .text-tool-input {
            &:focus {
                outline: none;
            }
        }
    }
}

.literally .lc-picker {
    // z-index: 201;
    // border-right: $basicBorder;

    $buttonMargin: 2px;
    $buttonBottomMargin: 10px;

    .toolbar-button {
        width: $pickerButtonSize;
        height: $pickerButtonSize;
        // line-height: $buttonActualSize;
        margin-bottom: $buttonBottomMargin;
        padding: 0;
        cursor: pointer;
        text-align: center;

        @include button-style-1;
    }

    .thin-button {
        cursor: pointer;
        float: left;
        position: relative;
    }

    .fat-button {
        clear: both;
        width: $pickerWidth - 1 - $buttonMargin * 2;
    }

    .lc-pick-tool,
    .lc-undo,
    .lc-redo,
    .lc-zoom-in,
    .lc-zoom-out {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.literally {
    .color-well {
        font-size: 10px;
        float: left;
        width: $pickerWidth - 1px;

        &.open {
            background-color: $selectedColor;
        }
    }

    .color-well-color-container {
        @include button-style-1;
        border: 1px solid #aaa;
        position: relative;
        width: $pickerButtonSize - 2px;
        height: $pickerButtonSize - 2px;
        margin: 1px auto;
        overflow: visible;

        .color-well-checker {
            position: absolute;
            width: 50%;
            height: 50%;
            background-color: black;
        }

        .color-well-checker-top-left {
            border-top-left-radius: 3px;
        }

        .color-well-checker-bottom-right {
            border-bottom-right-radius: 3px;
        }

        .color-well-color {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 3px;
        }
    }

    .color-picker-popup {
        position: absolute;
        z-index: 1;
        background-color: white;
        border: $basicBorder;

        left: $pickerWidth - 1px;
        bottom: $optionsHeight;

        .color-row {
            clear: both;

            .color-cell {
                cursor: pointer;
                width: 20px;
                height: 20px;
                line-height: 20px;
                float: left;

                &:hover,
                &.selected {
                    border: $basicBorder;
                    line-height: 18px;
                }

                &.transparent-cell {
                    width: 100%;
                }
            }
        }
    }
}

.literally .horz-toolbar {
    height: $optionsHeight;
    overflow: visible;

    background-color: $toolbarBackground;

    &.font-attributes-color-palette {
        height: 168px;
        .entryStrokePaletteTitle {
            height: 140px;
        }
    }

    .label {
        // line-height: $optionsHeight - 1px;
        margin: 0 0.25em 0 0.25em;
        font-size: 12px;
    }

    > span {
        // line-height: $optionsHeight - 1px;
        margin: 0 0.25em 0 0.25em;
        font-size: 12px;
        float: left;
    }

    .square-toolbar-button {
        @include button-style-1;
        margin: 1px;
        border: 1px solid #aaa;
        width: $optionsButtonSize;
        height: $optionsButtonSize;
        float: left;
        position: relative;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        label {
            @include fill-container;
            line-height: $optionsButtonSize - 2px;
            margin: auto;
            float: none;
            text-align: center;
        }
    }
}

.literally .polygon-toolbar {
    position: absolute;
    border-top: $basicBorder;
    border-bottom: $basicBorder;
    width: 100%;
}

.literally.toolbar-at-bottom .polygon-toolbar {
    top: -100%;
}

.literally.toolbar-at-top .polygon-toolbar {
    top: 100%;
}

.literally .lc-options {
    z-index: 1;
    right: 0;
    left: $pickerWidth;
    bottom: 0;
    height: $optionsHeight;
    border: solid 1px $warmgray300;
    border-left: none;
    background-color: $warmgray100;

    .lc-font-settings {
        height: $optionsHeight - 1px;
        line-height: $optionsHeight;
        padding-left: 4px;
        background-color: $toolbarBackground;

        input {
            margin: 0 0.5em 0 0;

            &[type='checkbox'] {
                margin: 0 0.5em 0 0.5em;
            }
        }
    }
}

.canvas-top-menu {
    min-width: 420px;
    right: 0;
    left: 0;
    height: $menuHeight;
    border: solid 1px $warmgray300;
    background-color: $toolbarBackground;
    // z-index: 202;

    .entryPlaygroundPainterFullscreenButton {
        display: inline-block;
        position: absolute;
        background-image: url(../img/btn-fullscreen.svg);
        top: 7px;
        left: 7px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .entryPlaygroundPainterTopMenu {
        @mixin textStyle {
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            color: $textColor;
        }

        display: inline-block;
        margin-top: 0px;
        padding-top: 12px;
        padding-left: $pickerWidth;

        > div {
            @include textStyle;
            padding-left: 10px;
            padding-right: 10px;
            display: inline-block;
            vertical-align: top;
            min-width: 72px;
            height: 32px;
            border: solid 1px $warmgray300;
            line-height: 30px;
            background-color: $white;
            text-align: center;
            cursor: pointer;
            position: relative;

            &.entryPlaygroundPainterTopMenuFile,
            &.entryPlaygroundPainterTopMenuEdit {
                &::after {
                    content: '';
                    width: 8px;
                    height: 6px;
                    margin-left: 18px;
                    margin-top: -3px;
                    vertical-align: middle;
                    display: inline-block;
                    background-image: url(../img/menu-arrow.svg);
                }

                &.active {
                    .entryPlaygroundPainterTopMenuFileDropdown,
                    .entryPlaygroundPainterTopMenuEditDropdown {
                        display: block;
                    }
                }
            }

            .entryPlaygroundPainterTopMenuFileDropdown,
            .entryPlaygroundPainterTopMenuEditDropdown {
                display: none;
                z-index: 2;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: -8.5px;
                    left: calc(50% - 12px);
                    // object-fit: contain;
                    // background-image: url(../img/dropdown-arrow.svg);

                    box-shadow: -2px -2px 6px -3px rgba(0, 0, 0, 0.25);
                    border-left: 1px solid $warmgray300;
                    border-top: 1px solid $warmgray300;
                    transform: rotate(45deg) skew(-6deg, -6deg);
                    background-color: $white;
                    border-radius: 2px;
                    z-index: 0;
                }
                position: absolute;
                width: 168px;
                border: solid 1px $warmgray300;
                background-color: $white;
                border-radius: 6px;
                box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
                left: calc(50% - 84px);
                top: 40px;

                div {
                    position: relative;
                    text-align: left;
                    z-index: 1;
                    height: 46px;
                    margin-left: 8px;
                    margin-right: 8px;
                    padding-left: 8px;
                    padding-right: 8px;
                    border-bottom: solid 1px $warmgray200;
                    line-height: 46px;
                    font-size: 14px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    color: $textColor;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }

            &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-right: none;
            }
            &:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-left: none;
            }
        }
    }

    .entryPlaygroundPainterTopStageXY {
        position: relative;
        display: inline-block;
        margin-left: 20px;
        vertical-align: sub;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        color: $textColor;

        span {
            position: relative;
            top: 4px;
        }
    }
}

.strokePalette {
    position: relative;
    min-width: 420px;
    padding-top: 14px;
    .entryStrokePaletteTitle {
        display: inline-block;
        border-right: solid 1px $warmgray400;
        padding-top: 2px;
        width: 58px;
        height: 72px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        vertical-align: top;
        color: $textColor;
    }

    .entryStrokePalettePalette {
        display: inline-block;
    }

    .entryPlaygroundentryPlaygroundPainterAttrThickArea {
        margin-top: 9px;
        margin-left: 16px;
        margin-right: 22px;
        display: inline-block;
        padding: 0;
        border: 0;
        min-width: 0;
        vertical-align: top;
        .painterAttrThickName {
            margin-bottom: 0;
            border-bottom: 0;
            padding: 0;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.1px;
            color: $textColor;
        }

        .entryPainterAttrThickControll {
            margin-top: 8px;
            .entryPainterAttrThickMinus,
            .entryPainterAttrThickPlus {
                width: 32px;
                height: 32px;
                background-size: cover;
                display: inline-block;
                border: solid 1px $warmgray300;
                background-color: $warmgray200;
                cursor: pointer;
            }

            .entryPainterAttrThickMinus {
                background-image: url(../img/size-minus.svg);
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .entryPainterAttrThickPlus {
                background-image: url(../img/size-plus.svg);
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }

        .entryPlaygroundPainterAttrThickInput {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.5px;
            text-align: center;
            color: $textColor;
            width: 40px;
            height: 32px;
            border: solid 1px $warmgray300;
            vertical-align: top;
            border-left: 0;
            border-right: 0;
            background-color: $white;
            -moz-appearance: textfield;
            appearance: textfield;
            &::-webkit-inner-spin-button {
                -webkit-appearance: textfield;
            }
        }
    }
}

.entrySelectedColorPanel {
    margin-top: 9px;
    margin-left: 16px;
    margin-right: 22px;
    display: inline-block;
    padding: 0;
    border: 0;
    min-width: 0;
    vertical-align: top;

    .title {
        margin-bottom: 8px;
        border-bottom: 0;
        padding: 0;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: $textColor;
    }

    .colorViwer {
        display: inline-block;
        width: 39px;
        height: 32px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: solid 1px $warmgray300;
        background-color: $white;
        .color {
            width: 31px;
            height: 24px;
            border-radius: 2px;
            border: solid 1px $warmgray300;
            margin: 3px;
        }
    }
    .colorPicker {
        cursor: pointer;
    }
    .colorPickerButton {
        display: inline-block;
        vertical-align: top;
        width: 26px;
        height: 32px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border: solid 1px $warmgray300;
        border-left: none;
        background-color: $warmgray200;
        line-height: 28px;
        text-align: center;

        &::after {
            content: '';
            width: 8px;
            height: 6px;
            vertical-align: middle;
            display: inline-block;
            background-image: url(../img/menu-arrow.svg);
        }
    }

    .strokeColor,
    .fillColor {
        display: inline-block;
    }

    .strokeColor {
        margin-right: 22px;
    }

    .entryToolColorPicker {
        box-sizing: content-box;
        * {
            box-sizing: content-box;
        }
    }
}

// font 속성
.entryPlaygroundPainterAttrFont {
    display: inline-block;
    margin-top: 9px;
    margin-left: 16px;
    padding: 0;
    border: 0;
    min-width: 0;
    vertical-align: top;
    .title {
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: $textColor;
    }
    .entryPlaygroundPainterAttrTop {
        display: inline-block;
        margin-right: 22px;
        vertical-align: top;
        color: $textColor;

        .fontDropdown {
            cursor: pointer;
            margin-top: 8px;
            .fontName {
                display: inline-block;
                width: 95px;
                height: 32px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border: solid 1px $warmgray300;
                background-color: $white;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.5px;
                text-align: center;
                color: $textColor;
                vertical-align: top;
                padding-top: 8px;
                padding-left: 8px;
                padding-right: 8px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .fontDropdownButton {
                vertical-align: top;
                display: inline-block;
                width: 26px;
                height: 32px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border: solid 1px $warmgray300;
                border-left: none;
                background-color: $warmgray200;
                line-height: 28px;
                text-align: center;

                &::after {
                    content: '';
                    width: 8px;
                    height: 6px;
                    vertical-align: middle;
                    display: inline-block;
                    background-image: url(../img/menu-arrow.svg);
                }
            }
        }

        .fontDropdownList {
            z-index: 2;
            &::before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                position: absolute;
                bottom: -8.5px;
                left: calc(50% - 12px);
                box-shadow: 2px 2px 6px -3px rgba(0, 0, 0, 0.25);
                border-right: 1px solid $warmgray300;
                border-bottom: 1px solid $warmgray300;
                transform: rotate(45deg) skew(-6deg, -6deg);
                background-color: $white;
                border-radius: 2px;
                z-index: 0;
            }
            position: absolute;
            width: 168px;
            border: solid 1px $warmgray300;
            background-color: $white;
            border-radius: 6px;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
            left: 45px;
            bottom: 120px;

            div {
                position: relative;
                text-align: left;
                z-index: 1;
                height: 46px;
                margin-left: 8px;
                margin-right: 8px;
                padding-left: 8px;
                padding-right: 8px;
                border-bottom: solid 1px $warmgray200;
                line-height: 46px;
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                color: $textColor;
                cursor: pointer;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    .painterAttrFontSizeArea {
        display: inline-block;
        vertical-align: top;
        margin-right: 22px;
        margin-bottom: 8px;

        .entryPainterAttrFontSizeControll {
            margin-top: 8px;
            .entryPainterAttrFontSizeMinus,
            .entryPainterAttrFontSizePlus {
                width: 32px;
                height: 32px;
                background-size: cover;
                display: inline-block;
                border: solid 1px $warmgray300;
                background-color: $warmgray200;
                cursor: pointer;
            }

            .entryPainterAttrFontSizeMinus {
                background-image: url(../img/size-minus.svg);
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .entryPainterAttrFontSizePlus {
                background-image: url(../img/size-plus.svg);
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .entryPlaygroundPainterAttrFontSizeInput {
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.5px;
                text-align: center;
                color: $textColor;
                width: 40px;
                height: 32px;
                border: solid 1px $warmgray300;
                vertical-align: top;
                border-left: 0;
                border-right: 0;
                background-color: $white;
                -moz-appearance: textfield;
                appearance: textfield;
                &::-webkit-inner-spin-button {
                    -webkit-appearance: textfield;
                }
            }
        }
    }
    .entryPlaygroundPainterAttrFontStyleArea {
        display: inline-block;
        margin-right: 22px;
        .title {
            margin-bottom: 8px;
        }

        .fontStyleBold {
            display: inline-block;
            width: 32px;
            height: 32px;
            background-image: url(../img/bold-normal.svg);
            background-size: cover;
            border-radius: 4px;
            border: solid 1px $warmgray300;
            background-color: $white;
            cursor: pointer;
            margin-right: 10px;

            &.select {
                background-image: url(../img/bold-select.svg);
                border-color: $bc_base;
            }
        }
        .fontStyleItalic {
            @extend .fontStyleBold;
            background-image: url(../img/italic-normal.svg);
            margin-right: 0px;
            &.select {
                background-image: url(../img/italic-select.svg);
                border-color: $bc_base;
            }
        }
    }
    .entrySelectedColorPanel {
        margin: 0;
    }
}

// Move attributes
.entryMoveAttributes {
    min-width: 420px;
    padding-top: 14px;
    .entryMoveTitle {
        display: inline-block;
        border-right: solid 1px $warmgray400;
        padding-top: 2px;
        width: 58px;
        height: 72px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        vertical-align: top;
        color: $textColor;
    }
    .entryPlaygroundPainterAttrResize {
        margin-top: 9px;
        margin-left: 16px;
        margin-right: 22px;
        display: inline-block;
        padding: 0;
        border: 0;
        min-width: 0;
        vertical-align: top;
        .title {
            display: inline-block;
            margin-bottom: 0;
            border-bottom: 0;
            padding: 0;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.1px;
            color: $textColor;
        }
    }

    .painterAttrWrapper {
        margin-top: 8px;
    }

    .painterAttrRotateTop {
        padding-left: 28px;
        color: white;
    }

    .entryPlaygroundPainterAttrRotate {
        margin-top: 8px;
    }

    .entryPlaygroundPainterSizeText {
        width: 10px;
        color: $textColor;
        display: inline-block;
        margin-left: 5px;
        margin-right: 1px;
    }
    .painterAttrRotateTop {
        width: 40px;
        height: 10px;
    }
    .entryPlaygroundPainterAttrResizeX {
        display: inline-block;
        margin-right: 16px;
    }
    .entryPlaygroundPainterAttrResizeXTop {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: $textColor;
        margin-top: 3px;
        margin-right: 9px;
        vertical-align: top;
    }

    .entryPlaygroundPainterAttrReiszeY {
        display: inline-block;
    }
    .entryPlaygroundPainterAttrResizeYTop {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: $textColor;
        margin-top: 3px;
        margin-right: 9px;
        vertical-align: top;
    }

    .entryPlaygroundPainterNumberInput {
        display: inline-block;
        width: 48px;
        height: 32px;
        border-radius: 4px;
        border: solid 1px $warmgray300;
        color: $textColor;
        background-color: $white;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        text-align: center;
    }

    .painterAttrRotateArea {
        display: inline-block;
        vertical-align: top;
        margin-right: 22px;
    }

    .painterAttrRotateName,
    .painterAttrFlipName,
    .painterAttrOpacityName {
        margin-top: 9px;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: $warmgray700;
        display: inline-block;
    }
    .painterAttrFlipName {
        display: block;
    }

    .entryPlaygroundPainterFlip {
        display: inline-block;
        .entryPlaygroundPainterFlipX {
            display: inline-block;
            margin-top: 8px;
            background-image: url(../img/vertical.svg);
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 16px;
            width: 32px;
            height: 32px;
            cursor: pointer;
        }

        .entryPlaygroundPainterFlipY {
            @extend .entryPlaygroundPainterFlipX;
            background-image: url(../img/horizontal.svg);
        }
    }
}

.selectCut {
    text-align: center;
    padding-top: 18px;
    .selectCutImage {
        display: inline-block;
        margin-bottom: 7px;
        width: 46px;
        height: 45px;
        background-image: url(../img/img-cutting.svg);
    }
    .selectCutDesc {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0;
        letter-spacing: -0.3px;
        color: $warmgray700;
    }
}

.magnifierPalette {
    position: relative;
    min-width: 420px;
    padding-top: 14px;
    .entryPaintMagnifierTitle {
        display: inline-block;
        border-right: solid 1px $warmgray400;
        padding-top: 2px;
        padding-left: 16px;
        padding-right: 16px;
        height: 72px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        vertical-align: top;
        color: $textColor;
    }
    .entryPaintMagnifier {
        margin-top: 9px;
        margin-left: 16px;
        margin-right: 22px;
        display: inline-block;
        padding: 0;
        border: 0;
        min-width: 0;
        vertical-align: top;
        .entryPaintMagnifierControll {
            margin-top: 8px;
            .entryPaintMagnifierMinus,
            .entryPaintMagnifierPlus {
                width: 32px;
                height: 32px;
                background-size: cover;
                display: inline-block;
                border: solid 1px $warmgray300;
                background-color: $warmgray200;
                cursor: pointer;
            }

            .entryPaintMagnifierMinus {
                background-image: url(../img/size-minus.svg);
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .entryPaintMagnifierPlus {
                background-image: url(../img/size-plus.svg);
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }

        .entryPaintMagnifierInput {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.5px;
            text-align: center;
            color: $textColor;
            width: 48px;
            height: 32px;
            border: solid 1px $warmgray300;
            vertical-align: top;
            border-left: 0;
            border-right: 0;
            background-color: $white;
            -moz-appearance: textfield;
            appearance: textfield;
            &::-webkit-inner-spin-button {
                -webkit-appearance: textfield;
            }
        }
    }
}
